.main{
    background-color: rgb(160, 131, 206);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    margin-left: 50%;
}
td{
    border-radius: 10px;
    width: 50px;
    height: 20px;
}

th{
    height: 40px;
    border-radius: 10px;
}